@page
@model IndexModel
@{
    ViewData["Title"] = "Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a sua area de gerenciamento</h1>
    <p>Learn about <a href="https://localhost:7097/views">Clique aqui para ir a pagina Admin</a>.</p>
</div>
